* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    color: #222;
}

header {
    background: #18187c;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    margin-top: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

.hero {
    max-width: 800px;
    margin: 80px auto;
    padding: 40px 20px;
    text-align: center;
}

.hero h2 {
    font-size: 40px;
}

.hero p {
    font-size: 18px;
    line-height: 1.6;
}

.button {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background: #18187c;
    color: red;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    opacity: 0.8;
}

footer {
   background: #18187c;
    color: white;
    padding: 20px;
    text-align: center;
}
